.price {
  font-size: 32px;
  line-height: 1;
  margin-top: 0px;
  text-align: right;
}

.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}
.detail-container {
  height: 650px;
}
.detail-row {
  margin-left: 27vw;
  margin-top: -55vh;
  width: 50vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 17px;
}

@media screen and (min-width: 375px) and (max-width: 540px) {
  .container {
    width: 90vw;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .detail-row {
    margin-top: 10vh;
  }
}
