.hero {
  background-image: url("../../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  backdrop-filter: brightness(0.75);
  height: 80vh;
  color: white;
  padding: 45px;
  margin: 25px;
  position: relative;
  z-index: 20;
  border-radius: 50px;
}

.hero-overlay {
  background: rgba(75, 75, 75, 0.3);
  position: relative;
  background-blend-mode: brightness(0.5);
  z-index: 10;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.hero-body {
  text-align: left;
}

.hero-body h2 {
  line-height: 1;
  font-size: 80px;
  color: lightgrey;
  font-weight: 700;
  text-align: left;
  margin-top: 15%;
  width: 50%;
}

@media screen and (min-width: 319px) and (max-width: 540px) {
  .hero {
    width: 100%;

    padding: 5px;
    margin: 0;
  }
  .globomantics-logo {
    margin: 0 auto;
  }
  h2.header-tagline {
    width: 100%;
    font-size: 50px;
    padding: 25px;
  }
}
@media screen and (min-width: 541px) and (max-width: 991px) {
  .hero-body h2 {
    width: 100%;
  }
  h2.header-tagline {
    font-size: 68px;
  }
}

@media screen and (min-width: 992px) {
  .miniHero {
    background-position-y: -150px;
  }
}
