.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 35%;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.form>p {
  display: flex;
  flex-direction: column;
  width: 10vw;
  margin: 0 25px;

}

button.clear-button {

  padding: 0 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 70px;
  border-radius: 50px;
  font-size: 20px;
  background-color: gray;
  color: white;
  border: 0px transparent;
  box-shadow: 0px 2px 4px black;
}

.filters {
  display: flex;
  margin: 0 25px;
  padding: 0px 15px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;

}



@media only screen and (min-width: 375px) and (max-width: 540px) {
  .property-count {
    display: flex;
    margin: 0 15px;
    padding: 0;
    width: 90vw;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 90vw;
    flex-wrap: nowrap;
    margin: 0 15px;
  }

  .form>p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
  }

  button.clear-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: left;
    margin: 15px 0;
    padding: 0;
    text-align: center;
  }
}