.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 30vw;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  
}
.form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form > p {
  display: flex;
  flex-direction: column;

}

.filters {
  display: flex;
  margin: 25px 0px;
  padding: 0px 15px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  

}
