div .table-container {
  width: 95vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

table .table-responsive {
  max-width: 100vw;
  width: 100%;
  height: auto;
}

tr .card {
  color: black;
  box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.06) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;

  width: 100%;
  overflow-x: hidden;
  height: 25%;
  margin: 15px auto;
  padding: 0px 15px;
}

td.title {
  text-align: left;
  width: 20vw;
  margin-left: 45px;
  padding: 0px 25px;
}

td.img-responsive {
  width: 20vw;
  margin: 0 auto;
  padding: 0;
}

td.description {
  max-width: 20vw;
  margin: 0px 45px 0px 0px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
}

td.actions button {
  max-width: 15vw;
  width: 100%;
  margin-left: 100px;
  margin-right: auto;
  padding: 0 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  border-radius: 50px;
  font-size: 20px;
  background-color: indigo;
  color: white;
  border: 0px transparent;
  box-shadow: 0px 2px 4px black;
}

td.actions a {
  text-decoration: none;
}

@media only screen and (min-width: 319px) and (max-width: 540px) {
  .table-container {
    flex-direction: column;
  }

  .table .table-responsive {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .tr .card {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-evenly;
  }

  .d-table-cell {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
  }

  td.title,
  td.description,
  td.actions {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    width: 100%;
    margin: 15px;
    padding: 0;
    flex-wrap: wrap;
    text-align: left;
  }

  td.description {
    display: flex;
    flex-direction: column;
    max-width: 88vw;
    flex-wrap: wrap;
  }

  td.actions button {
    display: flex;
    flex-grow: 1;
    min-width: 88vw;
    margin: 0 0 7vh 0;
  }
}
