.figure {
  width: 70vw;
}

.img-responsive {
  width: 100%;
}

@media screen and (min-width: 319px) and (max-width: 540px) {
  .img-responsive {
    width: 95vw;
    position: relative;
  }
  label.figure-caption {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px;
    z-index: 20;
  }
}
