body {
  font-family: 'Montserrat', sans-serif;
}



.logo {
  height: 150px;
  color:  #11222a;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  color: #11222a;
}

.featuredHouse {
  border-radius: 2px;
  background-color: rgb(0, 0, 0);
}
